.wrapper {
    width: var(--card-width);
    height: var(--card-height);
    backdrop-filter: blur(var(--blur));
    background-color: rgba(52, 58, 64, 0.5);
    border-radius: var(--border-radius-medium);
}

.img {
    height: 90%;
    width: 100%;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
}

.title {
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.small {
    width: 175px;
    height: 280px;
    margin: 0 auto;
}

.small img {
    height: 81%;
}

.small p {
    height: 18%;
}