.title {
    margin-bottom: 8px;
}

.grid {
    max-width: 1135px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
}

.card img {
    height: 90%;
}

.card p {
    height: 7%;
}