.inner {
    display: flex;
}

.title {
    display: inline-block;
    margin-right: 10px;
}
/*.grid {*/
/*    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));*/
/*    grid-auto-flow: dense;*/
/*    justify-items: start;*/
/*}*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 400px);

    grid-gap: 10px 0;
}

.box {
    min-height: var(--card-height);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
    margin-bottom: 20px;
}

.films {
}

.photo {

}