/* var(--card-height) */

.info_card {
    width: 255px;
    /*height: 100%;*/
    /*padding: var(--card-padding);*/
}

.title {
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.link + .link {
    margin-top: 10px;
}

.error {
    font-size: var(--font-size-medium);
}