.card {
    display: block ;
    position: relative;
    border-radius: var(--border-radius-medium);
    width: var(--card-width);
    height: var(--card-height);
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-medium)
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 8px;

    text-align: center;

    min-width: 142px;
    max-width: 112%;
    border-right: 30px solid transparent;
    /* border-right: 30px solid transparent; */
    border-top: 30px solid var(--color-gray-dark);
}

.name p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    margin-top: -27px;
}

.personal {
    height: unset;
}

.starship {
    height: 215px;
}

.small {
    width: 175px;
    height: 280px;
    margin: 0 auto;
}

