.item {
    display: flex;
    align-items: center;
}

.itemImage {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.itemName {
    color: var(--color-params-dark);
    margin-left: 10px;
}