.wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .item {
        max-width: 70px;
        font-size: var(--font-size-medium);
        padding: 3px 10px;
    }

    .item + .item {
        margin-left: 10px;
    }
}

@media (max-width: 870px) {
    .wrapper {
        display: none;
    }
}