.input {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    width: 300px;

    padding: 6px 10px;
    border: none;
    border-bottom: 1px solid #168dff;
    color: #fff;
    outline: none;
    background-color: inherit;
}