.wrapper + .wrapper {
    margin-top: 20px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px;
}
.item + .item {
    margin-left: 20px;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}