.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.inner {
    padding: 0;
}

.menu {
    display: flex;
    font-size: var(--font-size-big);
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    width: var(--menu-width-big);
    justify-content: space-between;
    align-items: center;
}


.menu__item + .menu__item {
    margin-left: 30px;
}

.burger_btn {
    margin-left: 10px;
}

.logo {
    margin-right: 10px;
}


@media (max-width: 1100px) {
    .logo {
        width: 64px;
        height: 64px;
    }

    .row {
        width: 120px;
    }

    .menu__item {
        max-width: 70px;
        font-size: var(--font-size-medium);
        padding: 3px 10px;
    }



}

@media (max-width: 870px) {

}
