.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages {
    flex-basis: 250px;
    display: flex;
    justify-content: space-between;
}

.pageLink + .pageLink {
    margin-left: 30px;
}

.btn {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.btn img {
    width: 50px;
    height: 50px;
    cursor: pointer;

    transition: box-shadow 0.4s;
}

/*.pageLink + .pageLink {*/
/*    margin-left: 10px;*/
/*}*/

@media (max-width: 530px) {
    .pageLink + .pageLink{
        margin-left: 0;
    }
}